h1{
                  color: #396;
                  font-weight: 100;
                  font-size: 15px;
                  
                }
                 #clockdiv{
                    font-family: sans-serif;
                    color: black;
                    display: inline-block;
                    font-weight: 100;
                    text-align: center;
                    font-size: 15px;

                }
                #clockdiv > div{
                    padding: 10px;
                    border-radius: 3px;
                    background: #d2b356;
                    display: inline-block;

                }
                #clockdiv div > span{
                    padding: 15px;
                    border-radius: 3px;
                    background: white ;
                    display: inline-block;
                }
                smalltext{
                    padding-top: 5px;
                    font-size: 15px;
                }
